*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;

}
/*Container1*/
.container{
    margin: 15% auto;
    width:800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#question1-container,
#question2-container,
#question3-container,
#question4-container,
#question5-container{
font-size: 20px;
font-weight: bold;


}
.hide{
    display: none;
}
.button-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    margin: 20px 0;
}
#correct1,#correct2,#correct3,#correct4,#correct45,#correct5,
#wrong1, #wrong2, #wrong3, #wrong4, #wrong5, 
#wrong6, #wrong7, #wrong8, #wrong9, #wrong10, 
#wrong11, #wrong13, #wrong14, #wrong15{
    background-color: rgb(23, 23, 102);
    border-radius: 10px;
    width:30%;
    height: 75px;
    font-size: 20px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}
#correct1:hover,#correct2:hover,#correct3:hover,
#correct4:hover,#correct45:hover,#correct5:hover,
#wrong1:hover, #wrong2:hover, #wrong3:hover, 
#wrong4:hover, #wrong5:hover, #wrong6:hover, 
#wrong7:hover, #wrong8:hover, #wrong9:hover, 
#wrong10:hover, #wrong11:hover, #wrong13:hover, 
#wrong14:hover, #wrong15:hover{
    background-color: rgb(161, 1, 161);
    opacity: 75%;
}

.card2{
    bottom: 75%;
    left: 25%;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    position: absolute;
}
#submit-b{
    background-color: rgb(23, 23, 102);
    border-radius: 10px;
    width:30%;
    height: 75px;
    font-size: 20px;
    border: none;
    color: grey;
    cursor: pointer;
    padding: 10px;
    border: solid;
}

  
  
.hide{/*hide containers*/
    display: none;
}
.container h1{
    font-size: 3rem;
    font-weight: 300;
    font-weight: bold;
}
.container p{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 2rem;
    font-weight: 300;

}
#btnStart{
    font-size: 2rem;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: rgb(23, 23, 102);
    color: white;
    cursor: pointer;
    transition: ease-in 300ms;
    
}
#btnStart:hover{
    background-color: rgb(161, 1, 161);
    opacity: 75%;
    transition: ease-in-out 300ms;
}


#redo{
    padding: 8px;
    border: none;
    border-radius: 7px;
    background-color: rgb(23, 23, 102);
    color: white;
    cursor: pointer;
    transition: ease-in 300ms;
}
#redo:hover{
    background-color: rgb(161, 1, 161);
    opacity: 75%;
    transition: ease-in-out 300ms;
}

#Displaytime{
    font-size: 25px;
    font-weight: 1px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 30px;
    font-weight: bold;
}