*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
/*Container1*/
.container{
    
    width:800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.button-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    margin: 20px 0;
}
.btn{
    background-color: rgb(23, 23, 102);
    border-radius: 10px;
    width:30%;
    height:40px;
    font-size: 20px;
    border: none;
    color: white;
}
.btn:hover{
    background-color: rgb(161, 1, 161);
    opacity: 75%;
}
.hide{/*hide containers*/
    display: none;
}


.container h1{
    font-size: 3rem;
    font-weight: 300;
    font-weight: bold;
}
.container p{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 2rem;
    font-weight: 300;
    border: solid;
    width: 80%;
}

#btnStart{
    font-size: 2rem;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: rgb(23, 23, 102);
    color: white;
    cursor: pointer;
    transition: ease-in 300ms;
}
#btnStart:hover{
    background-color: rgb(161, 1, 161);
    opacity: 75%;
    transition: ease-in-out 300ms;
}




#redo{
    padding: 8px;
    border: none;
    border-radius: 7px;
    background-color: rgb(23, 23, 102);
    color: white;
    cursor: pointer;
    transition: ease-in 300ms;
}
#redo:hover{
    background-color: rgb(161, 1, 161);
    opacity: 75%;
    transition: ease-in-out 300ms;
}

#Displaytime{
    font-size: 25px;
    font-weight: 1px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 30px;
    border: solid red;  
}